#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
			label = "LED0_PC11";
		};

		led1: led_1 {
			gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
			label = "LED1_PC12";
		};

		led2: led_2 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "LED2_PC13";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
	};

	chosen {
		zephyr,console = &usart3;
	};
};

&pinctrl {
	/* Console UART: USART3 on PC4 (TX) / PC5 (RX) */
	usart3_tx_pc4: usart3_tx_pc4 {
		pinmux = <STM32_PINMUX('C', 4, AF7)>;
	};

	usart3_rx_pc5: usart3_rx_pc5 {
		pinmux = <STM32_PINMUX('C', 5, AF7)>;
	};

	/* GNSS UART: LPUART1 on PC1 (TX) / PC0 (RX) → Orion B16 */
	lpuart1_tx_pc1: lpuart1_tx_pc1 {
		pinmux = <STM32_PINMUX('C', 1, AF8)>;
	};

	lpuart1_rx_pc0: lpuart1_rx_pc0 {
		pinmux = <STM32_PINMUX('C', 0, AF8)>;
	};
};

/* Console to PC */
&usart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart3_tx_pc4 &usart3_rx_pc5>;
	pinctrl-names = "default";
};

/* GNSS receiver (Orion B16) */
&lpuart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&lpuart1_tx_pc1 &lpuart1_rx_pc0>;
	pinctrl-names = "default";
};
