/ {
	pins {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
			label = "LED0_PC11";
		};

		led1: led_1 {
			gpios = <&gpioc 12 GPIO_ACTIVE_HIGH>;
			label = "LED1_PC12";
		};

		led2: led_2 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "LED2_PC12";
		};

	};

	chosen {
		zephyr,console = &usart3;
	};
};

&pinctrl {
	usart3_tx_pc4: usart3_tx_pc4 {
		pinmux = <STM32_PINMUX('C', 4, AF7)>;
	};

	usart3_rx_pc5: usart3_rx_pc5 {
		pinmux = <STM32_PINMUX('C', 5, AF7)>;
	};
};

&usart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart3_tx_pc4 &usart3_rx_pc5>;
	pinctrl-names = "default";
};