# PDF files
*.pdf

# MATLAB autosave files
*.asv

# MSVC build artifacts
*.ilk
*.pdb

# Other common C++ build files you likely want to exclude
*.obj
*.exe
*.csv

# MATLAB generated C/C++ files
#*.c
#*.cpp

# MATLAB generated mex files
*.mex*

# MATLAB log files
*.log

# Ignore Visual Studio Code settings folder
.vscode/

#Ignore Zephyr Build Folders
build/